Repository dfinity/examples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/editorial, @dfinity/growth, @dfinity/sdk, @dfinity/execution, @dfinity/languages, @dfinity/trust, @dfinity/crypto-team, @dfinity/div-Crypto, @dfinity/gix, @dfinity/networking, @dfinity/testing-verification, @dfinity/cross-chain-team, @dfinity/research, @dfinity/consensus

bump to 2.1.3
  archive/motoko/auth_client_demo/package.json
  archive/motoko/defi/src/frontend/package.json
  archive/motoko/hello/package.json
  archive/motoko/ios-notifications/dapp-demo/package.json
  archive/motoko/phone-book/package.json
  hosting/photo-storage/package.json
  motoko/cert-var/package.json
  motoko/encrypted-notes-dapp-vetkd/package.json
  motoko/encrypted-notes-dapp/package.json
  motoko/ic-pos/package.json
  motoko/icrc2-swap/package.json
  motoko/internet_identity_integration/package.json
  motoko/life/package.json
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
  motoko/random_maze/package.json
  motoko/send_http_post/package.json
  motoko/superheroes/package.json
  motoko/vetkd/package.json
  native-apps/unity_ii_applink/ii_integration_dapp/package.json
  native-apps/unity_ii_deeplink/ii_integration_dapp/package.json
  native-apps/unity_ii_universallink/ii_integration_dapp/package.json
  rust/defi/src/frontend/package.json
  rust/face-recognition/package.json
  rust/hello/package.json
  rust/image-classification/package.json
  rust/nft-wallet/frontend/package.json
  rust/qrcode/package.json
  rust/send_http_get/package.json
  rust/send_http_post/package.json
  rust/vetkd/package.json
  svelte/svelte-motoko-starter/src/frontend/package.json
  svelte/sveltekit-starter/package.json
Owners: @dfinity/editorial, @dfinity/sdk, @dfinity/trust, @dfinity/crypto-team, @dfinity/div-Crypto, @dfinity/gix, @dfinity/languages, @dfinity/growth, @dfinity/networking, @dfinity/execution

fix
  motoko/icrc2-swap/test/swap/identity.ts
  motoko/minimal-counter-dapp/package-lock.json
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
Owners: @dfinity/div-Crypto, @dfinity/growth

discouraging use of globabl variables with comment
  motoko/internet_identity_integration/src/greet_frontend/src/index.js
Owners: @dfinity/gix

fix
  motoko/minimal-counter-dapp/package-lock.json
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/Makefile
  motoko/minimal-counter-dapp/README.md
  motoko/minimal-counter-dapp/README_images/candid_ui.png
  motoko/minimal-counter-dapp/README_images/frontend.png
  motoko/minimal-counter-dapp/README_images/project_files.png
  motoko/minimal-counter-dapp/dfx.json
  motoko/minimal-counter-dapp/package-lock.json
  motoko/minimal-counter-dapp/package.json
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did.js
  motoko/minimal-counter-dapp/src/minimal_dapp/main.mo
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/logo.png
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/main.css
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/sample-asset.txt
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/src/index.html
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/src/index.js
  motoko/minimal-counter-dapp/webpack.config.js
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/Makefile
  motoko/minimal-counter-dapp/README.md
  motoko/minimal-counter-dapp/README_images/candid_ui.png
  motoko/minimal-counter-dapp/README_images/frontend.png
  motoko/minimal-counter-dapp/dfx.json
  motoko/minimal-counter-dapp/package-lock.json
  motoko/minimal-counter-dapp/package.json
  motoko/minimal-counter-dapp/src/minimal_dapp_backend/main.mo
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/src/minimal_dapp/main.mo
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/logo.png
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/main.css
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/assets/sample-asset.txt
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/src/index.html
  motoko/minimal-counter-dapp/src/minimal_dapp_assets/src/index.js
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/README_images/project_files.png
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp/minimal_dapp.did.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_assets/minimal_dapp_assets.did.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did.js
  motoko/minimal-counter-dapp/webpack.config.js
Owners: @dfinity/growth

fix
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_backend/minimal_dapp_backend.did.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/index.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/index.js
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did.d.ts
  motoko/minimal-counter-dapp/src/declarations/minimal_dapp_frontend/minimal_dapp_frontend.did.js
Owners: @dfinity/growth

remove script
  .github/workflows/update-package-json.sh
Owners: @dfinity/editorial

bump agent-js version (#977)
  archive/motoko/auth_client_demo/package.json
  archive/motoko/defi/src/frontend/package.json
  archive/motoko/hello/package.json
  archive/motoko/ios-notifications/dapp-demo/package.json
  archive/motoko/phone-book/package.json
  hosting/photo-storage/package.json
  motoko/cert-var/package.json
  motoko/encrypted-notes-dapp-vetkd/package.json
  motoko/encrypted-notes-dapp/package.json
  motoko/ic-pos/package.json
  motoko/icrc2-swap/package.json
  motoko/icrc2-swap/test/swap/identity.ts
  motoko/internet_identity_integration/package.json
  motoko/life/package.json
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
  motoko/random_maze/package.json
  motoko/send_http_get/Makefile
  motoko/send_http_get/dfx.json
  motoko/send_http_get/package-lock.json
  motoko/send_http_get/package.json
  motoko/send_http_get/src/send_http_get_backend/main.mo
  motoko/send_http_post/package.json
  motoko/superheroes/package.json
  motoko/vetkd/package.json
  native-apps/unity_ii_applink/ii_integration_dapp/package.json
  native-apps/unity_ii_deeplink/ii_integration_dapp/package.json
  native-apps/unity_ii_universallink/ii_integration_dapp/package.json
  rust/defi/src/frontend/package.json
  rust/face-recognition/package.json
  rust/hello/package.json
  rust/image-classification/package.json
  rust/nft-wallet/frontend/package.json
  rust/qrcode/package.json
  rust/send_http_get/package.json
  rust/send_http_post/package.json
  rust/vetkd/package.json
  svelte/svelte-motoko-starter/src/frontend/package.json
  svelte/sveltekit-starter/package.json
Owners: @dfinity/editorial, @dfinity/sdk, @dfinity/trust, @dfinity/crypto-team, @dfinity/div-Crypto, @dfinity/gix, @dfinity/languages, @dfinity/growth, @dfinity/networking, @dfinity/execution

ic-repl
  .github/workflows/provision-darwin.sh
  .github/workflows/provision-linux.sh
Owners: @dfinity/editorial

fix: await fetchRootKey in agent-js
  motoko/icrc2-swap/test/swap/agent.ts
  motoko/icrc2-swap/test/swap/swap.test.ts
Owners: @dfinity/div-Crypto

demo for beryllium
  rust/canister-snapshots/src/chat/src/lib.rs
Owners: @dfinity/execution

demo for beryllium (#1036)
  rust/canister-snapshots/src/chat/src/lib.rs
Owners: @dfinity/execution

bump agent-js for counter app
  archive/motoko/hello/src/hello/main.mo
  motoko/minimal-counter-dapp/package-lock.json
  motoko/minimal-counter-dapp/src/minimal_dapp_backend/main.mo
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/package.json
  motoko/minimal-counter-dapp/src/minimal_dapp_frontend/vite.config.js
Owners: @dfinity/editorial, @dfinity/growth

fix
  archive/motoko/hello/src/hello/main.mo
Owners: @dfinity/editorial

chore: extend stale issues timeframe
  .github/workflows/close-stale-issues.yaml
Owners: @dfinity/editorial

.github/CODEOWNERS:

* @dfinity/editorial

/c/adventure/ @dfinity/growth
/c/qr/ @dfinity/growth
/c/reverse/ @dfinity/growth

/hosting/godot-html5-template/ @dfinity/sdk
/hosting/photo-storage/ @dfinity/sdk
/hosting/static-website/ @dfinity/sdk
/hosting/unity-webgl-template/ @dfinity/sdk

/motoko/basic_bitcoin/ @dfinity/execution
/motoko/basic_dao/ @dfinity/languages
/motoko/canister_logs/ @dfinity/execution
/motoko/cert-var/ @dfinity/trust
/motoko/classes/ @dfinity/languages
/motoko/composite_query/ @dfinity/languages
/motoko/counter/ @dfinity/languages
/motoko/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/motoko/encrypted-notes-dapp/ @dfinity/crypto-team
/motoko/hello_cycles/ @dfinity/languages
/motoko/ic-pos/ @dfinity/div-Crypto
/motoko/icrc2-swap/ @dfinity/div-Crypto
/motoko/internet_identity_integration/ @dfinity/gix
/motoko/life/ @dfinity/languages
/motoko/minimal-counter-dapp/ @dfinity/growth
/motoko/parallel_calls/ @dfinity/languages
/motoko/pub-sub/ @dfinity/growth
/motoko/query_stats/ @dfinity/sdk
/motoko/random_maze/ @dfinity/languages
/motoko/send_http_get/ @dfinity/networking
/motoko/send_http_post/ @dfinity/networking
/motoko/superheroes/ @dfinity/growth
/motoko/threshold-ecdsa/ @dfinity/crypto-team
/motoko/threshold-schnorr/ @dfinity/crypto-team
/motoko/token_transfer/ @dfinity/growth
/motoko/token_transfer_from/ @dfinity/growth
/motoko/vetkd/ @dfinity/crypto-team
/motoko/whoami/ @dfinity/growth

/native-apps/unity_ii_applink/ @dfinity/sdk
/native-apps/unity_ii_deeplink/ @dfinity/sdk

/rust/basic_bitcoin/ @dfinity/execution
/rust/basic_dao/ @dfinity/testing-verification
/rust/basic_ethereum/ @dfinity/cross-chain-team
/rust/canister-info/ @dfinity/testing-verification
/rust/canister-snapshots/ @dfinity/execution
/rust/canister_logs/ @dfinity/execution
/rust/composite_query/ @dfinity/execution
/rust/counter/ @dfinity/growth
/rust/defi/ @dfinity/div-Crypto
/rust/dip721-nft-container/ @dfinity/sdk
/rust/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/rust/encrypted-notes-dapp/ @dfinity/crypto-team
/rust/face-recognition/ @dfinity/execution
/rust/guards/ @dfinity/cross-chain-team
/rust/hello/ @dfinity/sdk
/rust/icp_transfer/ @dfinity/growth
/rust/image-classification/ @dfinity/execution
/rust/nft-wallet/ @dfinity/growth
/rust/parallel_calls/ @dfinity/research
/rust/performance_counters/ @dfinity/execution
/rust/periodic_tasks/ @dfinity/execution
/rust/pub-sub/ @dfinity/growth
/rust/qrcode/ @dfinity/execution
/rust/query_stats/ @dfinity/consensus
/rust/send_http_get/ @dfinity/growth
/rust/send_http_post/ @dfinity/growth
/rust/simd/ @dfinity/execution
/rust/threshold-ecdsa/ @dfinity/crypto-team
/rust/threshold-schnorr/ @dfinity/crypto-team
/rust/token_transfer/ @dfinity/growth
/rust/token_transfer_from/ @dfinity/growth
/rust/vetkd/ @dfinity/crypto-team

/svelte/svelte-motoko-starter/ @dfinity/sdk
/svelte/svelte-starter/ @dfinity/sdk
/svelte/sveltekit-starter/ @dfinity/sdk

/wasm/counter @dfinity/languages
