Repository dfinity/examples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/editorial, @dfinity/ninja-devs, @dfinity/growth, @dfinity/sdk, @dfinity/cross-chain-team, @dfinity/languages, @dfinity/execution, @dfinity/trust, @dfinity/crypto-team, @dfinity/identity, @dfinity/ic-message-routing-owners, @dfinity/research, @dfinity/consensus

.github/CODEOWNERS:

* @dfinity/editorial
.github/workflows/ninja_pr_checks.yml @dfinity/ninja-devs

/c/adventure/ @dfinity/growth
/c/qr/ @dfinity/growth
/c/reverse/ @dfinity/growth

/hosting/godot-html5-template/ @dfinity/sdk
/hosting/my_crypto_blog/ @dfinity/ninja-devs
/hosting/photo-storage/ @dfinity/sdk
/hosting/react/ @dfinity/ninja-devs
/hosting/static-website/ @dfinity/sdk
/hosting/unity-webgl-template/ @dfinity/sdk

/motoko/basic_bitcoin/ @dfinity/cross-chain-team
/motoko/basic_dao/ @dfinity/languages
/motoko/backend_only/ @dfinity/ninja-devs
/motoko/canister_logs/ @dfinity/execution
/motoko/cert-var/ @dfinity/trust
/motoko/classes/ @dfinity/languages
/motoko/composite_query/ @dfinity/languages
/motoko/counter/ @dfinity/languages
/motoko/daily_planner/ @dfinity/ninja-devs
/motoko/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/motoko/evm_block_explorer/ @dfinity/ninja-devs
/motoko/filevault/ @dfinity/ninja-devs
/motoko/flying_ninja/ @dfinity/ninja-devs
/motoko/hello_cycles/ @dfinity/languages
/motoko/hello_world/ @dfinity/ninja-devs
/motoko/ic-pos/ @dfinity/growth
/motoko/icp_transfer/ @dfinity/growth
/motoko/icrc2-swap/ @dfinity/growth
/motoko/internet_identity_integration/ @dfinity/identity
/motoko/life/ @dfinity/languages
/motoko/llm_chatbot/ @dfinity/ninja-devs
/motoko/low_wasm_memory/ @dfinity/languages
/motoko/minimal-counter-dapp/ @dfinity/growth
/motoko/parallel_calls/ @dfinity/languages
/motoko/pub-sub/ @dfinity/growth
/motoko/query_stats/ @dfinity/sdk
/motoko/random_maze/ @dfinity/languages
/motoko/send_http_get/ @dfinity/growth
/motoko/send_http_post/ @dfinity/growth
/motoko/superheroes/ @dfinity/growth
/motoko/threshold-ecdsa/ @dfinity/crypto-team
/motoko/threshold-schnorr/ @dfinity/crypto-team
/motoko/tokenmania/ @dfinity/ninja-devs
/motoko/token_transfer/ @dfinity/growth
/motoko/token_transfer_from/ @dfinity/growth
/motoko/vetkd/ @dfinity/crypto-team
/motoko/who_am_i/ @dfinity/ninja-devs

/native-apps/unity_ii_applink/ @dfinity/sdk
/native-apps/unity_ii_deeplink/ @dfinity/sdk

/rust/basic_bitcoin/ @dfinity/cross-chain-team
/rust/basic_ethereum/ @dfinity/cross-chain-team
/rust/backend_only/ @dfinity/ninja-devs
/rust/backend_wasm64/ @dfinity/sdk
/rust/canister-info/ @dfinity/execution
/rust/canister-snapshots/ @dfinity/execution
/rust/canister_logs/ @dfinity/execution
/rust/composite_query/ @dfinity/execution
/rust/counter/ @dfinity/growth
/rust/daily_planner/ @dfinity/ninja-devs
/rust/encrypted-notes-dapp-vetkd/ @dfinity/crypto-team
/rust/evm_block_explorer/ @dfinity/ninja-devs
/rust/face-recognition/ @dfinity/execution
/rust/flying_ninja/ @dfinity/ninja-devs
/rust/guards/ @dfinity/cross-chain-team
/rust/hello_world/ @dfinity/ninja-devs
/rust/icp_transfer/ @dfinity/growth
/rust/image-classification/ @dfinity/execution
/rust/inter-canister-calls/ @dfinity/ic-message-routing-owners
/rust/llm_chatbot/ @dfinity/ninja-devs
/rust/low_wasm_memory/ @dfinity/execution
/rust/parallel_calls/ @dfinity/research
/rust/performance_counters/ @dfinity/execution
/rust/periodic_tasks/ @dfinity/execution
/rust/qrcode/ @dfinity/execution
/rust/query_stats/ @dfinity/consensus
/rust/send_http_get/ @dfinity/growth
/rust/send_http_post/ @dfinity/growth
/rust/simd/ @dfinity/execution
/rust/threshold-ecdsa/ @dfinity/crypto-team
/rust/threshold-schnorr/ @dfinity/crypto-team
/rust/tokenmania/ @dfinity/ninja-devs
/rust/token_transfer/ @dfinity/growth
/rust/token_transfer_from/ @dfinity/growth
/rust/vetkd/ @dfinity/crypto-team
/rust/who_am_i/ @dfinity/ninja-devs
/rust/x509/ @dfinity/crypto-team

/svelte/svelte-motoko-starter/ @dfinity/sdk
/svelte/svelte-starter/ @dfinity/sdk
/svelte/sveltekit-starter/ @dfinity/sdk

/wasm/counter @dfinity/languages

Use a newer monorepo pin
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/src/ecdsa.rs
  rust/basic_ethereum/src/ethereum_wallet.rs
Owners: @dfinity/cross-chain-team

chore(crypto): CRP-2579 In basic_ethereum example use ic_secp256k1 (#958)
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/rust-toolchain.toml
  rust/basic_ethereum/src/ecdsa.rs
  rust/basic_ethereum/src/ethereum_wallet.rs
Owners: @dfinity/cross-chain-team

Fix issue with Safari blocking popup in II integration example
  motoko/internet_identity_integration/src/greet_frontend/src/index.js
Owners: @dfinity/identity

Improve comment
  motoko/internet_identity_integration/src/greet_frontend/src/index.js
Owners: @dfinity/identity

Single-replica http outcalls update motoko example
  motoko/send_http_get/src/send_http_get_backend/main.mo
  motoko/send_http_post/package-lock.json
  motoko/send_http_post/src/send_http_post_backend/main.mo
Owners: @dfinity/growth

chore: update dfx to 0.28.0
  .github/workflows/provision-darwin.sh
  .github/workflows/provision-linux.sh
Owners: @dfinity/editorial

fix: force the call to be replicated
  motoko/send_http_get/src/send_http_get_backend/main.mo
Owners: @dfinity/growth

Single-replica http outcalls update motoko example (#1237)
  motoko/send_http_get/src/send_http_get_backend/main.mo
  motoko/send_http_post/package-lock.json
  motoko/send_http_post/src/send_http_post_backend/main.mo
Owners: @dfinity/growth

Revert "fix: force the call to be replicated"
  motoko/send_http_get/src/send_http_get_backend/main.mo
Owners: @dfinity/growth

chore: update dfx to 0.28.0 (#1238)
  .github/workflows/provision-darwin.sh
  .github/workflows/provision-linux.sh
  motoko/send_http_get/src/send_http_get_backend/main.mo
  motoko/send_http_post/package-lock.json
  motoko/send_http_post/src/send_http_post_backend/main.mo
Owners: @dfinity/editorial, @dfinity/growth

Update TOC of Readme
  rust/basic_bitcoin/README.md
Owners: @dfinity/cross-chain-team
