Repository dfinity/examples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/editorial, @dfinity/growth, @dfinity/sdk, @dfinity/languages, @dfinity/execution, @dfinity/trust, @dfinity/networking, @dfinity/dept-crypto-library, @dfinity/div-Crypto, @dfinity/gix, @dfinity/testing-verification, @dfinity/cross-chain-team, @dfinity/runtime, @dfinity/research, @dfinity/consensus

.github/CODEOWNERS:

* @dfinity/editorial

/c/adventure/ @dfinity/growth
/c/qr/ @dfinity/growth
/c/reverse/ @dfinity/growth

/hosting/godot-html5-template/ @dfinity/sdk
/hosting/photo-storage/ @dfinity/sdk
/hosting/static-website/ @dfinity/sdk
/hosting/unity-webgl-template/ @dfinity/sdk

/motoko/actor_reference/ @dfinity/languages
/motoko/auth_client_demo/ @dfinity/sdk
/motoko/basic_bitcoin/ @dfinity/execution
/motoko/basic_dao/ @dfinity/languages
/motoko/calc/ @dfinity/languages
/motoko/canister_logs/ @dfinity/execution
/motoko/cert-var/ @dfinity/trust
/motoko/classes/ @dfinity/languages
/motoko/composite_query/ @dfinity/languages
/motoko/counter/ @dfinity/languages
/motoko/defi/ @dfinity/networking
/motoko/dip721-nft-container/ @dfinity/languages
/motoko/echo/ @dfinity/languages
/motoko/encrypted-notes-dapp-vetkd/ @dfinity/dept-crypto-library
/motoko/encrypted-notes-dapp/ @dfinity/dept-crypto-library
/motoko/factorial/ @dfinity/languages
/motoko/hello-world/ @dfinity/languages
/motoko/hello/ @dfinity/languages
/motoko/hello_cycles/ @dfinity/languages
/motoko/http_counter/ @dfinity/networking
/motoko/ic-pos/ @dfinity/div-Crypto
/motoko/icp_transfer/ @dfinity/growth
/motoko/icrc2-swap/ @dfinity/div-Crypto
/motoko/internet_identity_integration/ @dfinity/gix
/motoko/ios-notifications/ @dfinity/trust
/motoko/life/ @dfinity/languages
/motoko/minimal-counter-dapp/ @dfinity/growth
/motoko/parallel_calls/ @dfinity/languages
/motoko/persistent-storage/ @dfinity/growth
/motoko/phone-book/ @dfinity/growth
/motoko/pub-sub/ @dfinity/growth
/motoko/query_stats/ @dfinity/sdk
/motoko/quicksort/ @dfinity/growth
/motoko/random_maze/ @dfinity/languages
/motoko/send_http_get/ @dfinity/networking
/motoko/send_http_post/ @dfinity/networking
/motoko/simple-to-do/ @dfinity/growth
/motoko/superheroes/ @dfinity/growth
/motoko/threshold-ecdsa/ @dfinity/dept-crypto-library
/motoko/threshold-schnorr/ @dfinity/dept-crypto-library
/motoko/token_transfer/ @dfinity/growth
/motoko/token_transfer_from/ @dfinity/growth
/motoko/vetkd/ @dfinity/dept-crypto-library
/motoko/whoami/ @dfinity/growth

/native-apps/unity_ii_applink/ @dfinity/sdk
/native-apps/unity_ii_deeplink/ @dfinity/sdk

/rust/basic_bitcoin/ @dfinity/execution
/rust/basic_dao/ @dfinity/testing-verification
/rust/canister-info/ @dfinity/testing-verification
/rust/canister_logs/ @dfinity/execution
/rust/composite_query/ @dfinity/execution
/rust/counter/ @dfinity/growth
/rust/defi/ @dfinity/div-Crypto
/rust/dip721-nft-container/ @dfinity/sdk
/rust/encrypted-notes-dapp-vetkd/ @dfinity/dept-crypto-library
/rust/encrypted-notes-dapp/ @dfinity/dept-crypto-library
/rust/guards/ @dfinity/cross-chain-team
/rust/hello/ @dfinity/sdk
/rust/icp_transfer/ @dfinity/growth
/rust/image-classification/ @dfinity/runtime
/rust/nft-wallet/ @dfinity/growth
/rust/parallel_calls/ @dfinity/research
/rust/performance_counters/ @dfinity/runtime
/rust/periodic_tasks/ @dfinity/runtime
/rust/pub-sub/ @dfinity/growth
/rust/qrcode/ @dfinity/runtime
/rust/query_stats/ @dfinity/consensus
/rust/send_http_get/ @dfinity/growth
/rust/send_http_post/ @dfinity/growth
/rust/simd/ @dfinity/runtime
/rust/threshold-ecdsa/ @dfinity/dept-crypto-library
/rust/threshold-schnorr/ @dfinity/dept-crypto-library
/rust/token_transfer/ @dfinity/growth
/rust/token_transfer_from/ @dfinity/growth
/rust/vetkd/ @dfinity/dept-crypto-library

/svelte/svelte-motoko-starter/ @dfinity/sdk
/svelte/svelte-starter/ @dfinity/sdk
/svelte/sveltekit-starter/ @dfinity/sdk

/wasm/counter @dfinity/languages

comments
  motoko/canister_logs/Makefile
  rust/canister_logs/Makefile
Owners: @dfinity/execution

sleep 5
  motoko/canister_logs/Makefile
  rust/canister_logs/Makefile
Owners: @dfinity/execution

add trap_query
  motoko/canister_logs/Makefile
  motoko/canister_logs/src/Main.mo
  rust/canister_logs/Makefile
  rust/canister_logs/canister_logs.did
  rust/canister_logs/src/lib.rs
Owners: @dfinity/execution

More polishing
  rust/image-classification/build.sh
  rust/image-classification/src/backend/src/onnx.rs
  rust/image-classification/src/frontend/assets/.ic-assets.json5
  rust/image-classification/src/frontend/assets/main.css
  rust/image-classification/src/frontend/src/.ic-assets.json5
  rust/image-classification/src/frontend/src/index.html
  rust/image-classification/src/frontend/src/index.js
Owners: @dfinity/runtime

init basic_ethereum
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/dfx.json
  rust/basic_ethereum/rust-toolchain.toml
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

hello world
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/dfx.json
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

canister init
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

initiate tecdsa key
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

derive Ethereum address
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/dfx.json
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

transaction count
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/dfx.json
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

chore: update canister logging examples with trapped query calls (#929)
  motoko/canister_logs/Makefile
  motoko/canister_logs/src/Main.mo
  rust/canister_logs/Makefile
  rust/canister_logs/canister_logs.did
  rust/canister_logs/src/lib.rs
Owners: @dfinity/execution

create and sign transaction
  rust/basic_ethereum/Cargo.lock
  rust/basic_ethereum/Cargo.toml
  rust/basic_ethereum/basic_ethereum.did
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial

send transaction
  rust/basic_ethereum/src/lib.rs
Owners: @dfinity/editorial
